<h1 align= "center" style="color:white">EasyApply</h1><br/>
<h3 align = "center" style = "color:white"> Applying for College made Easy!! </h3>
<div class = "center hero-unit">

<div style=" padding-left: 21%; padding-bottom: 5%; border-width:4px; 
             border-style:inset; border-radius:10px 10px 10px 1px;">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.submit "Send me reset password instructions" %></div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>
